@charset "UTF-8";

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

body{
    font: normal 15pt Arial;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.150);
}

footer{
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}
div{
    text-align: center;
    padding: 10px;
}
